config BOARD_HEADER_FILE
	string "HTC board specific header file name"
	default ""

config MACH_FLYER
       depends on ARCH_MSM7X30
       default n
       bool "MSM7x30 FLYER"
	   select MACH_HTC
       select MSM7X30_DDR2
       select TIMING_PCLK_53M
       help
         Support for the Qualcomm MSM7x30 Flyer board.